body{
	font-family: Ambit,Helvetica,sans-serif;
	background-color: #03020a;
	color:whitesmoke;
}
.title{
	font-size: 24px;
	padding-left:10px;
	text-align: left;
	margin-bottom: 5px;
	
}
.start {
	margin-top: 0px;
	padding-left: 10px;
	text-align: left;
	font-style: italic;
}
#img{
	height: 90px;
	width: 90px;
	float: left;
	margin-left:20px;
	margin-right:10px;
}
#navbar{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/covid.jpg") no-repeat center center/cover;
    color:white;
    padding:10px;
    padding-top: 5px;
    overflow: auto;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -20px;
}
#container2{
	margin-left: -20px;
}
#container2 li{
	display: inline;
	padding-right: 10px;
}
#container2 a{
	text-decoration: none;
	color:white;
}
#container2 a:hover{
	color:lightblue;
}
.second{
	text-align: center;
	font-size: 24px;
	font-family: tahoma;
	font-weight: bold;
}
.tipTitle{
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin-left: 0px;
	margin-top: 20px;
}
#secContainer{
	width: 90%;
	margin: auto;
	padding-bottom: 20px;
}
#section1{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/stay.jpg") no-repeat center center/cover;
    color:white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 80px;
	border-radius: 5px;
}
#section1 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;

}
#section2{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/wash.jpg") no-repeat center center/cover;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 70px;
	border-radius: 5px;
	margin-top: 30px;
}
#section2 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;
}
#section3{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mask.jpg") no-repeat center center/cover;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin-top: 30px;
}
#section3 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;
}
#section4{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/cough.jpg") no-repeat center center/cover;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 70px;
	border-radius: 5px;
	margin-top: 30px;
}
#section4 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;
}
#section5{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/Distancing.jpg") no-repeat center center/cover;
	padding-right:20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin-top: 30px;
}
#section5 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;
}
#section6{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/groceries.jpg") no-repeat center center/cover;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 70px;
	border-radius: 5px;
	margin-top: 30px;
}
#section6 p{
	padding-top: 30px;
	font-size: 18px;
	margin-left: 20px;
	line-height: 2em;
}
#redirect{
	width: 95%;
	margin: auto;
	min-width: 1200px;
}
#redirect img{
	height: 200px;
	width: 250px;
	padding:30px;
	padding-right: 35px;
	margin-left: 55px;
}
#redirect div {
	display: inline;
}
#redirect p {
	font-size: 20px;
	font-weight: bold;
	margin-left: 0px;
	margin-top: 20px;
	text-align: center;
}
#redirect a {
	color:whitesmoke;
	text-decoration: none;
}
#redirect b {
	margin-left: 180px;
	padding-right: 127px;
}
#footing{
	margin-top: 50px;
	padding: 10px;
	
}
#footing p{
	text-align: center;
	color: whitesmoke;
}